.fc-button-group .fc-button {
    background-color: #899da8!important;
    border: none!important;
    outline: none!important;
    width: 30%!important;
}
.fc-button-group .fc-button:hover {
    background-color: #123b53!important;
}

.fc .fc-button-group .fc-button-active {
    background-color: #082340!important;
    border: none!important;
    outline: none!important;
    width: 30%!important;
}

.fc-today-button:hover {
    margin-top: 5px!important;
    background-color: #082340!important;
    opacity: 80%!important;
    width: 30%!important;
    outline: none!important;
    border: none!important;

}
.fc-today-button {
    margin-top: 5px!important;

    background-color: #082340!important;
    opacity: 100%!important;
    width: 30%!important;
    outline: none!important;
    border: none!important;

}

.fc-day-today{
    background-color: #edefcacc!important;
}


