.fc-button-group .fc-button {
    background-color: #899da8!important;
    border: none!important;
    outline: none!important;
    width: 30%!important;
}
.fc-button-group .fc-button:hover {
    background-color: #123b53!important;
}

.fc .fc-button-group .fc-button-active {
    background-color: #082340!important;
    border: none!important;
    outline: none!important;
    width: 30%!important;
}

.fc-today-button:hover {
    margin-top: 5px!important;
    background-color: #082340!important;
    opacity: 80%!important;
    width: 30%!important;
    outline: none!important;
    border: none!important;

}
.fc-today-button {
    margin-top: 5px!important;

    background-color: #082340!important;
    opacity: 100%!important;
    width: 30%!important;
    outline: none!important;
    border: none!important;

}
/* Actual Day */
.fc-day-today{
    background-color: #edefcacc!important;
}
/* Title */
.fc-toolbar-title{
    color: #082340df;
}

/* Day Title */
.fc-col-header-cell-cushion{
    color: #11345adf!important;
/*     font-size: 1.2rem!important;
 */}

.fc-daygrid-day-frame .fc-scrollgrid-sync-inner{
    background-color: white!important;
}
.fc-col-header{
    background-color:#94a6b03f!important;
}

